extends layout

block content
    h1 Hello world from jade template!
    script(src="/javascripts/lib/three.js")
    script(src="/javascripts/game.js")
    script(src="/javascripts/playground.js")
    canvas(class="viewport")
