extends layout

block content
    h1 EcoRealms Development View
    canvas#viewport
    script(src="/js/bower/three.js/three.js")
    script(src="/js/ebb-grid.js")
    script(src="/js/game.js")
    script(src="/js/playground.js")
