extends layout

block content
    h1 EcoRealms Development View
    canvas#viewport
    script(src="/bower_components/three.js/three.js")
    script(src="/javascripts/ebb-grid.js")
    script(src="/javascripts/game.js")
    script(src="/javascripts/playground.js")
